
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: containerinjectors.apple.dev.thenullchannel
spec:
  group: apple.dev.thenullchannel
  names:
    kind: ContainerInjector
    listKind: ContainerInjectorList
    plural: containerinjectors
    singular: containerinjector
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ContainerInjector is the Schema for the containerinjectors API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ContainerInjectorSpec defines the desired state of ContainerInjector
            properties:
              args:
                items:
                  type: string
                type: array
              command:
                items:
                  type: string
                type: array
              foo:
                description: Foo is an example field of ContainerInjector. Edit containerinjector_types.go
                  to remove/update
                type: string
              image:
                type: string
              label:
                type: string
            type: object
          status:
            description: ContainerInjectorStatus defines the observed state of ContainerInjector
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
